p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: Arial;
    margin: 0px;
    padding-top: 75px;
    padding-left: 90px;
    background-color: rgb(247, 247, 247);
}