.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 74px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    display: flex;
    background-color: white;
    height: 75px;
    margin-bottom: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover {
    background-color: rgb(238, 234, 234)
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-size: 10px;
    font-family: Arial;
    margin-top: 7px;
}